
a {
    text-decoration: none;
    color: inherit;
}


.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
}

.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
    padding-left: 10px;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.wd-main-tweet-title {
    position: relative;
    margin-top: -40px;
    left: 0px;
    font-weight: bold;
    font-size: x-large;
}
.wd-fg-color-grey {
    color: darkgray;
}

.wd-fg-bold {
    font-weight: bold;
}
.wd-ellipsis {
    float: right;
    padding: 12px;
}
.wd-setting {
    float: right;
    padding: 12px;
    font-size: 200%;
    margin-left: 12px;
}
.wd-explore-image {
    object-fit: fill;
    width: 104.5%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: -16px;
    margin-top: -8px;

}